[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
pep8-naming = "*"
pytest = "*"
requests = "*"

[packages]
fastapi = "*"
pandas = "*"
uvicorn = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
